@import "../../../styles/const";

.box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: $main-color-light;
  border-radius: 30px;
  gap: 40px;
  padding: 50px 20px;
  max-width: 900px;
}