@import "../../../styles/const";

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $main-color-light;
  border-radius: 30px;
  gap: 40px;
  padding: 20px 0;
}