@import url(https://fonts.googleapis.com/css?family=Anton&effect=fire-animation);
.gameWrapper {
	padding: 0 20px;
	color: white;
	display: flex;
	flex-direction: column;
	background: rgb(22, 22, 30);
	min-height: 100vh;
	height: 100%;
	align-items: stretch;
	justify-content: center;
}

.addButton {
	z-index: 2;
	color: white;
	border: none;
	padding: 20px;
	background-color: #ffd194;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	cursor: pointer;
	animation: neon3 10s ease-in-out infinite alternate;
	margin: 30px;
}

.playerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.userName {
	font-size: 18px;
	text-transform: uppercase;
}

.oponentsWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

p {
	margin: 0;
}

.newGamePageWrapper {
	display: flex;
	flex-direction: column;
	background: rgb(22, 22, 30);
	min-height: 100vh;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.nameInput {
	display: flex;
	padding: 20px;
	justify-content: center;
}

.gameCreateInput {
	display: flex;
	padding: 20px;
	justify-content: center;
}

.gameCreateInput input {
	padding: 20px;
	border-radius: 10px;
  width: 125px;
	outline: none;
	border: none;
	background-color: antiquewhite;
	animation: neon3 1.5s ease-in-out infinite alternate;

    &:first-of-type{
      margin-right: 30px;
    }
}

.nameInput input {
	padding: 20px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: antiquewhite;
	animation: neon3 1.5s ease-in-out infinite alternate;
}

@keyframes neon3 {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
			0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
			0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
	}
}

.inputsWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.timeLeft {
	font-size: 48px;
	text-align: center;
	padding: 20px;
}

.winnerTitle {
	text-align: center;
	padding: 20px;
	font-size: 48px;
}

.startGame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 72px;
	color: green;
	animation-name: example;
	animation-duration: 0.5s;
	opacity: 1;
	transform: scale(1);
	animation-fill-mode: forwards;
}

@keyframes example {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(3);
	}
}

.startGameHidden {
	display: none;
}

h1 {
	letter-spacing: 10px;
	font-size: 60px;
	text-align: center;
}

.buttonEnterName {
	margin: 20px;
	border: none;
	cursor: pointer;
	position: relative;
	width: 60px;
	height: 60px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	color: #666;
	font-size: 36px;
	transition: 0.5s;
	animation: neon3 1.5s ease-in-out infinite alternate;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: #ffdd1b;
		transition: 0.5s;
		transform: scale(0.9);
		z-index: -1;
	}
	&:hover:before {
		transform: scale(1.2);
		box-shadow: 0 0 15px #ffdd1b;
		filter: blur(3px);
	}
	&:hover:after {
		transform: scale(1.2);
		box-shadow: 0 0 15px #ffdd1b;
		filter: blur(3px);
	}

	&:hover {
		color: #ffdd1b;
		box-shadow: 0 0 15px #ffdd1b;
		text-shadow: 0 0 15px #ffdd1b;
	}
}

li {
	color: #fff;
	font-size: 18px;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 400px;
}
.titleForInput {
	text-align: center;
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
}
.roomWrapper {
	background: rgb(22, 22, 30);
	box-shadow: -12px -12px 24px #2e2e2e, 12px 12px 24px #1e1e1e;
	border-radius: 13px;
	padding: 20px;
	margin: 20px;
	cursor: pointer;
	width: 200px;
	min-height: 200px;
}
.fullRoom {
	opacity: 0.5;
	background: rgb(22, 22, 30);
	box-shadow: -12px -12px 24px #2e2e2e, 12px 12px 24px #1e1e1e;
	border-radius: 13px;
	border: 1px solid red;
	padding: 20px;
	margin: 20px;
	width: 200px;
	min-height: 200px;
}
.roomTitle {
	font-size: 20px;
}
