@import "../../../styles/const";

.buttonEnterName {
  color: $main-color;
  border: none;
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  font-size: 36px;
  transition: 0.5s;
  animation: neon3 1.5s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffdd1b;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }

  &:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #ffdd1b;
    filter: blur(3px);
  }

  &:hover:after {
    transform: scale(1.2);
    box-shadow: 0 0 15px #ffdd1b;
    filter: blur(3px);
  }

  &:hover {
    box-shadow: 0 0 15px #ffdd1b;
    text-shadow: 0 0 15px #ffdd1b;
  }

  &:disabled{
    background: $disabled;
    cursor: default;
    color: $disabled-dark;

    &:hover{
      box-shadow: unset;
      text-shadow: unset;
    }
  }
}