@import "../../../styles/const";

.newGamePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $background-dark;
  min-height: 100vh;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
}