@import "../../../styles/const";

.newGamePageWrapper {
  background: $background-dark;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  flex-grow: 3;
}