$background-dark: rgb(22, 22, 30);
$main-color: rgb(206, 117, 27);
$main-color-dark: rgb(114, 65, 16);
$main-color-light: rgb(238, 184, 130);
$disabled: rgb(217 207 201);
$disabled-dark: rgb(68, 62, 58);
$black: #000000;
$white: #ffffff;
$success: #1ade0c;